$mob_width : 380px;

@media (max-width:$mob_width) {
  #path_image {
    width:100% !important;
  }

  .road.middle {
    height:3000px !important;
    >div {
      width:431px !important;
      height:100% !important;
      margin-left:139px !important;
    }
  }

  #cogs {
    margin-top:-112px !important;
  }

  #hands .center-card {
    margin-top:-22px !important;
  }

  .handshake {
    margin-top:-0px !important;
  }

  .banner.supply-chain-banner {
    margin-top:-34px !important;
  }

  .banner.conveyor-banner {
    margin-top:0px !important;
  }

  .oil-station {
    top:1786px !important;
    left:67px !important;
    height:42px !important;
  }

}
