.banner {
  background-color: $green;
  padding: 90px 0;
  margin-top: -1px;
}

.green-container {
  position: relative;
  background-color: $lightGreen;
  border-radius: 8px;
  max-width: 430px;
  padding: 0;
  margin: 0;
  font-size: 40px;
  line-height: 40px;

  @media (max-width: $screen-md) {
    margin: 30px auto 0 auto;
  }

  p {
    float: left;
    margin: 0;
    padding: 12px 0 0 20px;
    font-size: inherit;
    line-height: inherit;
    color: #fff;

    @media (max-width: $screen-xs) {
      font-size: 30px;
      line-height: 35px;
      padding-top: 15px;
    }
  }

  img {
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    margin-bottom: -10px;

    @media (max-width: $screen-xs) {
      max-width: 90px;
      margin-top: -10px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}

.banner.middle {
  margin-top: 145px;

  @media (max-width: $screen-md) {
    margin-top: 95px;
  }

  .green-container {
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
    margin: 0 auto;

    @media (max-width: $screen-md) {
      float: none;
      width: 90%;
      margin: 0 auto 20px auto;
    }

    p {
      float: none;
      text-align: right;
      padding-right: 30px;

      @media (max-width: $screen-md) {
        text-align: center;
        padding-right: 0;
      }
    }
  }

  .economy {
    padding: 0;
    line-height: 56px;
    text-align: right;
    margin: 0 auto;
    max-width: 500px;

    @media (max-width: $screen-md) {
      float: none;
    }

    @media (max-width: $screen-xs) {
      padding: 10px 0;
    }
  }
}

.unit {
  font-size: inherit;
}

.economy, .supply-chain, .conveyor {
  font-size: 29px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  max-width: 496px;
  float: right;
  padding-left: 25px;
  margin: 0;
  font-weight: lighter;

  @media (max-width: $screen-md) {
    float: none;
    padding: 0;
    margin: 10px auto;

  }

  @media (max-width: $screen-xs) {
    font-size: 22px;
    line-height: 32px;
  }
}

.supply-chain {
  max-width: 740px;
  float: none;
  margin: 0 auto;
  padding: 0;
}

.supply-chain-banner {
  padding-bottom: 190px;

  @media (max-width: 700px) {
    margin-top: 70px;
  }

  @media (max-width: 680px) {
    margin-top: 200px;
  }

  @media (max-width: $screen-xs) {
    padding-bottom: 140px;
    margin-top: 500px;
  }
}

.conveyor {
  padding: 0;
  float: none;
  text-align: left;

  @media (max-width: $screen-md) {
    text-align: center;
  }

  br {
    @media (max-width: $screen-md) {
      display: none;
    }
  }

  p {
    @media(max-width: $screen-md) {
      text-align: center;
      text-indent: -70px;
    }
  }
}

.conveyor.first {
  margin-top: -20px;
  margin-bottom: 15px;


}

.conveyor.second {
  margin-top: 20px;
}

.conveyor-banner {
  margin-top: 360px;
  padding: 50px 0 120px 0;


  @media (max-width: $screen-md) {
    margin-top: 410px;
    padding: 40px 0 60px 0;
  }

  @media (max-width: 900px) {
    margin-top: 390px;
    padding: 40px 0 40px 0;
  }

  @media (max-width: 900px) {
    margin-top: 430px;
  }

  @media (max-width: 680px) {
    margin-top: 250px;
  }

}

.first-flipInY, .second-flipInY {
  transform: rotateY(90deg);
  @media (max-width: $screen-sm) {
      animation-name: none;
      -webkit-animation-name: none;
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
  }
}

.text-block-left, .text-block-right {
  float: none;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.text-block-right {
  text-align: right;
}