.bottom {
  position: relative;
  margin-top: -25px;
  z-index: 2;

  @media (max-width: $screen-xs) {
    margin-top: -5px;
  }

  blockquote {
    max-width: 1000px;
    margin: 50px auto 0 auto;
  }
}

.bottom-link {
  display: table;
  padding-right: 30px;
}

.light-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 30px;
  margin: -67px auto 0 auto;
  z-index: -1;
}

.paragraph {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  width: 90%;
  max-width: 720px;
  margin: 15px auto;
  color: #666;
}

.paragraph.first {
  padding-top: 170px;
}

.share {
  margin: -150px auto 0 auto;

  @media (max-width: $screen-md) {
    margin: 50px auto 0 auto;
  }

  @media (max-width: $screen-sm) {
    a {
      margin: 10px auto;
      display: block;
    }
  }
}

.buttons {
  .button {
    display: table;
    margin: 20px auto;
  }
}

.banner.green-bottom {
  margin-top: 340px;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  height: 630px;
}