.center-card {
  margin-top: 400px;

  .green-container {
    max-width: 560px;
    margin: 20px auto;
    padding: 5px 0;

    h1 {
      font-size: 98px;
      font-weight: lighter;
      line-height: 98px;
      text-align: right;
      color: #fff;
      margin: 0 -16px 0 0;

      @media (max-width: $screen-md) {
        text-align: center;
      }
    }

    p {
      font-size: 33px;
      line-height: 33px;
      font-weight: lighter;
      margin: 5px 0 0 -16px;

      @media (max-width: $screen-md) {
        float: none;
        text-align: center;
        padding: 0 0 10px 0;
      }
    }
  }

  .center-paragraph {
    padding: 0;
  }
}