.cog-feeder {
  //max-width: 556px;
  //min-width: 270px;
  //background-image: url("../img/cogs/cog_feeder.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 200px;
  margin-right: 200px;
  width:85%;
  left: -8.8%;
  top: -2px;

  /*this stop the cogs
  @media (max-width: $screen-sm) {
    margin: 200px auto 0 auto !important;
    background-size:100%;
  }*/

  p {
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    color: #fff;
    line-height: 34px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    @media (max-width: $screen-sm) {
      font-size: 20px;
      line-height: 28px;
      padding-top: 4px;
    }

    @media (max-width: $screen-xs) {
      font-size: 15px;
      line-height: 17px;
      padding-top: 4px;
    }
  }

  .aspect {
    content: ' ';
    padding-top: 19.4244604316547%;
  }
}

.moving-cogs {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-sm) {
    margin: 30px auto 0 auto;
  }

  .aspect {
    content: ' ';
    padding-top: 63.4920634920635%;
  }

  .cog {
    position: absolute;
    transform-origin: center;
    transform: rotate(0deg);
  }

  .cog_1 {
    width: 29%;
    margin-top: -2%;
    margin-left: 17%;
  }

  .cog_2 {
    width: 24%;
    margin-top: 19%;
    margin-left: 4%;
  }

  .cog_3 {
    width: 31%;
    margin-top: 31%;
    margin-left: 20%;
  }

  .cog_4 {
    width: 28%;
    margin-top: 24.5%;
    margin-left: 47%;
    transform: rotate(10deg);
  }

  .cog_5 {
    width: 18%;
    margin-top: 39.1%;
    margin-left: 76.6%;
  }

  .cog_6 {
    width: 13%;
    margin-top: 30%;
    margin-left: 88%;
  }

  .cog_7 {
    width: 25%;
    margin-top: 11.5%;
    margin-left: 68.5%;
  }
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  //  -webkit-animation: rotating 2s linear infinite;
  //  -moz-animation: rotating 2s linear infinite;
  //  -ms-animation: rotating 2s linear infinite;
  //  -o-animation: rotating 2s linear infinite;
  //  animation: rotating 2s linear infinite;
}
