@font-face {
  font-family: 'Univers 45 LT';
  src: url('../fonts/bp/Univers45lightlatinextended.eot');
  src: url('../fonts/bp/Univers45lightlatinextended.eot') format('embedded-opentype'),
       url('../fonts/bp/Univers45lightlatinextended.woff2') format('woff2'),
       url('../fonts/bp/Univers45lightlatinextended.woff') format('woff'),
       url('../fonts/bp/Univers45lightlatinextended.ttf') format('truetype'),
       url('../fonts/bp/Univers45lightlatinextended.svg#Univers45lightlatinextended') format('svg');
}