.hammer-graphic {
  margin-top: -180px;

  @media (max-width: $screen-xs) {
    margin-top: -130px;
  }
}

.supply-chain-container {
  position: relative;
}

.supply-chain-text {
  top: 0;
  left: 0;
  right: 0;
  margin: 4% -11% 0 auto;
  position: absolute;
  text-align: center;

  @media (max-width: 279px) {
    margin-top: 52px;
  }

  @media (min-width: 280px) and (max-width:410px) {
    margin-top: 44px;
  }

  @media (min-width: 410px) {
    margin-top: 40px;
  }
}