#hands {
  @media (max-width:238px) {
    margin-top:80px;
    margin-bottom:-80px;
  }

  @media (min-width: 239px) and (max-width:300px) {
    margin-top:180px;
  }

  @media (min-width: 301px) and (max-width:409px) {
    margin-top:90px;
  }
  @media (min-width: 410px) and (max-width:460px) {
    margin-top:40px;
  }
}

.handshake {
  position: relative;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

  .left-hand {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120%;
    margin-top: 5%;
    max-width: 863.672px;
    width: 72%;
  }

  .right-hand {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 100%;
    max-width: 877.047px;
    width: 75%;
  }

  #left-hand, #right-hand {
    width: 100%;
  }

  .handshake-container {
    position: relative;
    margin-top: 70px;
    width: 1200px;
    left: 50%;
    margin-left: -630px;

    @media (max-width: $screen-md) {
      margin-left: -600px;
    }
  }

  .sun-glow {
    display: none;
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    margin: -5% auto 0 40%;
    z-index: -1;
    height: 140%;
  }

  .city-in-hand {
    max-width: 782.688px;
    width: 100%;
    position: absolute;
    left: 45%;
    margin-left: -201.344px;

    @media (max-width: $screen-sm) {
      margin-left: 0;
      left: 38%;
      width: 50%;
    }
  }

  #City_In_Hand {
    width: 100%;
  }
}

#hands .green-container {
  @include rotateY(90deg);
}

#handshake {
  @media (max-width: $screen-md) {
    width: 100%;
  }
}