#intro {
  margin-bottom: 50px;

  h1 {
    font-size: 34px;
    margin: 40px 0 0 0;
    color: $green;
    float: left;
    padding-bottom: 25px;

    @media (max-width: $screen-sm) {
      float: none;
      margin: 10px 0 0 0;
      text-align: center;
    }
  }

  h3 {
    font-size: 20px;
    color: $green;
    display: inline-block;
    vertical-align: middle;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    color: #666;

    @media (max-width: $screen-sm) {
      margin: 10px auto 0 auto;
      text-align: center;
    }
  }

  .logo {
    float: left;

    @media (max-width: $screen-sm) {
      float: none;
      margin: 0 auto;
    }
  }

  .select {
    width: 580px;
    min-width: 130px;
    height: 40px;
    margin-top: -10px;
    margin-left: 15px;
    background-color: #009439 !important;
    border: 1px solid #009439 !important;
    cursor: default !important;
    z-index: 2;
    position: absolute;
    right: auto;
    left: 0;

    @media (max-width: $screen-xs) {
      display: block;
      margin: 0 auto;
      float: none;
    }
  }

  .copy-block {
    padding-top: 30px;

    &:first-child {
      margin-top: 40px;
    }
  }

  .text-green-bold {
    font-size: 16px;
    color: #009439;
  }
}
