#map {
  width: 100%;
  max-width: 271px;
  height: 510px;
  float: right;
  margin-top: -140px;
  position: relative;
  z-index: 1;

  @media (max-width: $screen-sm) {
    float: none;
    margin: 0 auto;
    display: block;
  }
}

.selected {
  fill: #176b36 !important;
}

#mapSvg {
  width: 100%;
  max-width: 271px;
  height: 510px;
  position: absolute;
  overflow: visible;
}

.aspect {
  content: '';
  display: block;
}

.region {
  cursor: pointer;
}

#mapSvg {

    @media (max-width: $screen-sm) {
      * rect {
        display: none !important;
      }
      rect {
        display:none !important;
      }
    }
}

.scroll-down {
  position: absolute;
  top: 74px;
  right: 0px;
  width: 58px;
  text-align: center;
  background-color: #86BC25;
  color: white;
  padding: 10px;
  border-radius: 10px;
}