.nv-quote, .nv-quote-content {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.nv-quote {
  color: #007f00;
  background: #eee;
  border-left: 3px solid #9c0;
  padding: 15px 20px;
  margin-bottom: 5px;
  margin-top: 20px;

  .nv-quote-content {
    color: #666;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 26px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    word-break: normal;

    @media (max-width: $screen-sm) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  .nv-citation {
    padding-top: 6px;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
  }
}