.region-card {
  position: relative;
  max-width: 290px;
  left: 50%;
  margin-left: -270px;
  z-index: 1;

  @media (max-width: 767px) { /* $screen-sm */
    margin-left: -130px !important;
  }

  img {
    @include animation-iteration-count(infinite);
    @include backface-visibility(hidden);
    transform: translateZ(0) scale(1.0, 1.0);
  }

}

#region {
  height: 0;
  overflow: hidden;
}