.road-container {
  width: 100%;
  overflow: hidden;
}

.road {
  position: relative;

  img {
    position: absolute;
    left: 50%;
    margin-top: -1px;
    margin-left: -1265px;

    @media (max-width: $screen-sm) {
      margin-left: -1275px;
    }
  }
}

.road.middle img {
  margin-top: -120px;
  margin-left: -570px;
}

.middle-road img {
  margin-top: -5px;
  margin-left: -470px;
}

#Vehicles_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.oil_station {
  position: absolute;
  top: 4526px;
  margin-left: -332px !important;
}