.lip {
  display: block;
  margin-left: -20px;

  @media (max-width: $screen-md) {
    width: 100%;
    max-width: 302px;
    margin: 0 auto;
  }
}

#stage {
  max-width: 876.856px;
  width: 140%;
  margin-left: -110px;

  @media (max-width: $screen-md) {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

#stage-container {
  position: relative;
}

.black-backdrop {
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.conveyor-text {
  @media (max-width: $screen-md) {
    display: table;
    position: relative;
  }

  p {
    position: absolute;
    margin: 0;
    padding-top: 10px;
    font-size: 51px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    @media (max-width: $screen-md) {
      text-align: center;
      width: 277px;
      padding-left: 0;
    }
  }
}