

//.bus {
//  width: 2%;
//  height: 7%;
//  top: 67%;
//  left: 11.7%;
//  background-image: url("../img/vehicles/bus/front.png");
//  background-repeat: no-repeat;
//  background-size: contain;
//  background-position: 50%;
//}
//
//.bus.side {
//  width: 7%;
//  height: 5%;
//  background-image: url("../img/vehicles/bus/side.png");
//}
//
//.bus.back {
//  background-image: url("../img/vehicles/bus/back.png");
//}

#path_image {
  display:block;
  position:relative;
  background-position: left top ;
}

.vehicle {
  display:block;
  width:135px;
  height:135px;
  background-repeat:no-repeat;
  background-position: center center;
  position:absolute;
  margin-left:-67px;
  margin-top:-67px;
  left:0px;
  top:0px;
}

.bus {
  background-image: url('../img/vehicles/1.png');
  &.left { background-position:-75px 28px; }
  &.right { background-position:-75px -198px; }
  &.up { background-position:-196px -75px; }
  &.down { background-position:47px -75px; }
}

.truck {
  background-image: url('../img/vehicles/2.png');
  &.left { background-position:-74px 28px }
  &.right { background-position:-75px -203px; }
  &.up { background-position:-196px -75px; }
  &.down { background-position:47px -75px; }
}

.black_car {
  background-image: url('../img/vehicles/3.png');
  &.left { background-position:-75px 43px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

.yellow_sport_car {
  background-image: url('../img/vehicles/4.png');
  &.left { background-position:-75px 50px; }
  &.right { background-position:-75px -205px; }
  &.up { background-position:-201px -75px; }
  &.down { background-position:54px -75px; }
}

.black_sport_car {
  background-image: url('../img/vehicles/5.png');
  &.left { background-position:-75px 52px; }
  &.right { background-position:-75px -205px; }
  &.up { background-position:-201px -75px; }
  &.down { background-position:53px -75px; }
}

.gray_sport_car {
  background-image: url('../img/vehicles/6.png');
  &.left { background-position:-75px 52px; }
  &.right { background-position:-75px -205px; }
  &.up { background-position:-201px -75px; }
  &.down { background-position:53px -75px; }
}

.orange_car {
  background-image: url('../img/vehicles/7.png');
  &.left { background-position:-75px 51px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

.blue2_car {
  background-image: url('../img/vehicles/8.png');
  &.left { background-position:-75px 51px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

.transporter {
  background-image: url('../img/vehicles/9.png');
  &.left { background-position:-75px 37px; }
  &.right { background-position:-75px -203px; }
  &.up { background-position:-199px -75px; }
  &.down { background-position:51px -75px; }
}

.blue_car {
  background-image: url('../img/vehicles/10.png');
  &.left { background-position:-75px 51px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

/*ready*/

.oil_car {
  background-image: url('../img/vehicles/11.png');
  &.left { background-position:-75px 37px; }
  &.right { background-position:-75px -198px; }
  &.up { background-position:-196px -75px; }
  &.down { background-position:48px -75px; }
}

.blue_orange_car {
  background-image: url('../img/vehicles/12.png');
  &.left { background-position:-75px 51px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

.green_car {
  background-image: url('../img/vehicles/13.png');
  &.left { background-position:-75px 51px; }
  &.right { background-position:-74px -203px; }
  &.up { background-position:-201px -75px }
  &.down { background-position:54px -75px; }
}

.left { z-index:3;}
.right { z-index:2;}
.up { z-index:2;}
.down { z-index:2;}